@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --font-main: 'Inter', sans-serif;
   --font-light: "Raleway", sans-serif;
   --font-product-name: 'Inter', sans-serif;
}
body{
   background-color: rgb(245, 245, 245);
}
.main-container{
   overflow-x: hidden;
}
/* .inside-container{

} */
.navbar{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   background-color: rgb(10, 10, 10);
   height: 50px;
   display: flex;
   justify-content: space-between; /* فاصله بین برند و آیکن منو */
   align-items: center;
   padding: 0 20px;
}
.nav-links-desktop{
   display: none;
}
.brand-name{
   color: white;
   font-family: var(--font-main);
}
button{
   cursor: pointer;
}
.menu-icon{
   background: transparent;
   border: none;
   color: white;
   cursor: pointer;
   display: block;
   margin-left: auto;
}
.menu-icon .fa-bars{
   transition: transform 0.3s ease;
}
.menu-icon:hover .fa-bars{
   transform: rotate(90deg);
}
.menu-icon-animation{
   transition: transform 0.4s ease;
}
.toggle-nav{
   position: absolute;
   top: 50px;
   right: 0;
   background: rgb(138, 135, 135);
   color: black;
   padding: 1rem;
   border-radius: 8px;
   width: 100%;
   height: 140px;
   border-radius: 0;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   transition: transform 0.5s ease, opacity 0.5s ease;
   z-index: 1000;
   overflow-x: hidden;
}

ul{
   list-style: none;
}
.toggle-links{
   float: right;
   text-decoration: none;
   color: black;
   font-family: var(--font-main);
   opacity: 0;
   animation: fadeIn 0.15s forwards;
   transform: translateX(20px);
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
 }
 .toggle-nav .toggle-links:nth-child(1) {
   animation-delay: 0.2s;
 }
 
 .toggle-nav .toggle-links:nth-child(2) {
   animation-delay: 0.4s;
 }
 
 .toggle-nav .toggle-links:nth-child(3) {
   animation-delay: 0.6s;
 }
 
.toggle-nav.open{
   transform: translateX(0);
   opacity: 1;
}
.toggle-nav.close{
   opacity: 0;
   overflow: hidden;
}
.discovery-container{
   height: 380px;
   background-color: #000000;
   font-family: var(--font-main);
   color: white;
   width: 100%;
   position: relative;
   overflow: hidden;
}
.discovery-text{
   padding-top: 4.5rem;
   font-family: var(--font-light);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
   font-size: 1.2rem;
}
.phone-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 4.5rem;
   position: relative;
}
.iphone-png {
   width: 30em;
   height: 30em;
   position: absolute;
   top: 450%;
   left: 50%;
   transform: translate(-50%, -50%); /* این خط باعث میشه عکس در مرکز قرار بگیره */
   animation: discover-fadeIn 1s ease-out forwards;
}
.ipad{
   display: none;
}
.laptop{
   display: none;
}
.find-latest {
   position: absolute; /* متن رو هم روی عکس قرار می‌دهیم */
   top: 72%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3rem;
   text-align: center;
   pointer-events: none;
   font-family: var(--font-main);
   animation: discover-fadeIn 1s ease-out forwards;
}
@keyframes discover-fadeIn{
   0% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(20px);
   }
   100% {
   opacity: 1;
   transform: translate(-50%, -50%) translateY(0);
   }
}

.filters-container{
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   font-family: var(--font-light);
}
.discovery{
   font-family: var(--font-main);
   padding-left: 0.9rem;
   padding-top: 1.2rem;
}
select{
   border: 1px solid #ccc;
   padding: 7px;
   border-radius: 5px;
   width: min(44vw, 176px);
   font-family: var(--font-main);
}
.product-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   justify-content: center; /* مهم: وسط‌چین کردن ستون‌ها */
   align-items: center; /* مهم: وسط‌چین کردن ردیف‌ها */
   padding-top: 1rem;
   padding-left: 8px;
}
.product-image-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem;
   
}
.product-image{
   width: 165px;
}
.product-details{
   border: none;
   background-color: white;
   width: 95%;
   border-radius: 8px;
   margin-bottom: 1rem;
   box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.7);
   text-align: center;
}
.product-company{
   font-family: var(--font-main);
   color: rgba(0, 0, 0, 0.658);
   font-size: 1rem;
   text-align: center;
   margin-bottom: 0.6rem;
}
.product-name{
   font-family: var(--font-product-name);
   font-size: 1rem;
   padding: 0.5rem 0.5rem;
   margin-top: -0.75rem;
   text-align: center;
}
.small-detail{
   font-family: var(--font-main);
   font-size: 0.8rem;
   margin-top: -0.2rem;
   color: rgba(29, 29, 29, 0.658);
}
.star{
   padding-top: 0.4rem;
   gap: 0.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.7rem;
}
.product-price{
   font-family: var(--font-main);
   color: rgb(0, 0, 0);
   font-size: 1.01rem;
   padding-top: 0.4rem;
}
.addtocart{
   background-color: rgba(0, 0, 255, 0.699);
   color: white;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 8px;
   font-family: var(--font-main);
   font-size: 0.9rem;
   margin-bottom: 0.5rem;
   margin-top: 0.4rem;
   cursor: pointer;
   transition: background-color 0.3s ease;
   padding-top: 0.5rem;
}
.why-dl{
   text-align: center;
   padding-top: 1rem;
   font-family: var(--font-main);
}
.features-container {
   padding-top: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}

.features {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 1rem;
   font-family: var(--font-main);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 12px;
   box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.3);
   width: 90%;
   max-width: 400px;
   background: white;
   text-align: left;
}
.feature-icon{
   font-size: 2.5rem;
}
.user-review-h2{
   text-align: right;
   padding:  2rem 2rem;
   font-family: var(--font-main);
}
.reviews-container {
   padding: 1rem 2rem;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.reviews{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   direction: rtl;
   gap: 1rem;
   padding: 1rem;
   background-color: #f9f9f9;
   border-radius: 10px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.user-avatar{
   border-radius: 50%;
   width: 50px;
}
.review-content{
   padding-right: 0.8rem;
   gap: 0.2rem;
   display: flex; 
   flex-direction: column;
}
.user-name{
   font-family: 'Inter', sans-serif;
   font-weight: 600;
}
.user-star{
   font-size: 0.8rem;
}
.user-text{
   font-family: 'roboto', sans-serif;
   font-size: 0.8rem;
   color: rgba(0, 0, 0, 0.658);
}
footer{
   background-color: rgb(10, 10, 10);
   width: 100%;
   height: 50px;
   color: white;
   font-family: var(--font-main);
}
.footer-logo{
   color: white;
   padding-left: 1rem;
}
.year{
   font-size: 0.7rem;
   padding-left: 1rem;
}
.social-container{
   display: flex;
   justify-content: right;
   margin-top: -37px;
   gap: 1rem;
   padding-right: 1rem;
}

@media only screen and (min-width: 767px) {
  .nav-links-desktop {
    display: flex;
    gap: 2rem;
  }

  .nav-links-desktop li {
    list-style: none;
  }

  .nav-links-desktop a {
    color: white;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
  }

  /* ❌ دکمه منوی موبایل حذف شود در صفحه بزرگ‌تر */
  .menu-icon {
    display: none;
  }
  .iphone-png{
   display: none;
  }
  .ipad{
   display: block;
   width: 42.3rem;
  }
  .filters-container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 2rem;
  }

  .discovery {
    padding-left: 2rem;
    font-size: 1.8rem;
  }

  select {
    width: 200px;
    font-size: 1rem;
  }
  .product-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
   }
   .product-details {
      /* width: 220px; */
   }

  .product-image {
    width: 160px;
  }
  .features-container {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
   }

   .features {
      width: 280px;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .features h2 {
      font-size: 1.1rem;
   }
   .reviews-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      padding: 2rem;
   }

   .reviews {
      flex-direction: row;
      padding: 1.2rem;
   }

   .review-content {
      padding-right: 1rem;
   }
}
@media only screen and (min-width: 1024px) {
   .iphone-png{
      display: none;
   }
   .laptop{
      display: block;
      width: 42.3rem;
   }
   .filters-container {
    gap: 2.5rem;
    padding: 2rem 3rem;
  }

  .discovery {
    font-size: 2rem;
  }

  select {
    width: 220px;
    font-size: 1.05rem;
  }
  .product-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-left: 2.2rem;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
  }

  .product-details {
      /* width: 240px; */
  }

  .product-image {
    width: 120px;
  }

  .product-name {
    font-size: 1.1rem;
  }

  .addtocart {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }
}