@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --font-main: 'Inter', sans-serif;
   --font-light: "Raleway", sans-serif;
}
body{
   background-color: rgb(245, 245, 245);
}
.main-container{
   overflow-x: hidden;
}
/* .inside-container{

} */
nav{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   background-color: rgb(10, 10, 10);
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}
.brand-name{
   color: white;
   font-family: var(--font-main);
}
button{
   cursor: pointer;
}
.menu-icon{
   display: flex;
   float: right;
   border: none;
   background-color: transparent;
   color: white;

}
.menu-icon .fa-bars{
   transition: transform 0.3s ease;
}
.menu-icon:hover .fa-bars{
   transform: rotate(90deg);
}
.menu-icon-animation{
   transition: transform 0.4s ease;
}
.toggle-nav{
   position: absolute;
   top: 50px;
   right: 0;
   background: rgb(138, 135, 135);
   color: black;
   padding: 1rem;
   border-radius: 8px;
   width: 100%;
   height: 140px;
   border-radius: 0;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   transition: transform 0.5s ease, opacity 0.5s ease;
   z-index: 1000;
   overflow-x: hidden;
}

ul{
   list-style: none;
}
.toggle-links{
   float: right;
   text-decoration: none;
   color: black;
   font-family: var(--font-main);
   opacity: 0;
   animation: fadeIn 0.15s forwards;
   transform: translateX(20px);
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
 }
 .toggle-nav .toggle-links:nth-child(1) {
   animation-delay: 0.2s;
 }
 
 .toggle-nav .toggle-links:nth-child(2) {
   animation-delay: 0.4s;
 }
 
 .toggle-nav .toggle-links:nth-child(3) {
   animation-delay: 0.6s;
 }
 
.toggle-nav.open{
   transform: translateX(0);
   opacity: 1;
}
.toggle-nav.close{
   opacity: 0;
   overflow: hidden;
}
.discovery-container{
   height: 380px;
   background-color: #000000;
   font-family: var(--font-main);
   color: white;
   width: 100%;
   position: relative;
   overflow: hidden;
}
.discovery-text{
   padding-top: 4.5rem;
   font-family: var(--font-light);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   text-align: center;
   font-size: 1.2rem;
}
.phone-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 4.5rem;
   position: relative;
}
.iphone-png {
   width: 30em;
   height: 30em;
   position: absolute; /* عکس رو از حالت flex خارج می‌کنیم */
   top: 450%;
   left: 50%;
   transform: translate(-50%, -50%); /* این خط باعث میشه عکس در مرکز قرار بگیره */
   animation: discover-fadeIn 1s ease-out forwards;
}

.find-latest {
   position: absolute; /* متن رو هم روی عکس قرار می‌دهیم */
   top: 72%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3rem;
   text-align: center;
   pointer-events: none;
   font-family: var(--font-main);
   animation: discover-fadeIn 1s ease-out forwards;
}
@keyframes discover-fadeIn{
   0% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(20px);
   }
   100% {
   opacity: 1;
   transform: translate(-50%, -50%) translateY(0);
   }
}

.filters-container{
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   font-family: var(--font-light);
}
.discovery{
   font-family: var(--font-main);
   padding-left: 0.9rem;
   padding-top: 1.2rem;
}
select{
   border: 1px solid #ccc;
   padding: 7px;
   border-radius: 5px;
   width: min(44vw, 176px);
   font-family: var(--font-main);
}
.product-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding-left: 1rem;
}
.product-image-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem;
}
.product-image{
   width: 170px;
}
.product-details{
   border: none;
   background-color: white;
   width: 44.1vw;
   border-radius: 8px;
   margin-bottom: 1rem;
}
.product-company{
   font-family: var(--font-main);
   color: rgba(0, 0, 0, 0.658);
   font-size: 1rem;
   text-align: center;
}
.product-name{
   font-family: var(--font-main);
   font-size: 1rem;
   padding: 0.5rem 0.5rem;
   text-align: left;
}
.product-price{
   font-family: var(--font-main);
   color: rgba(0, 0, 0, 0.658);
   font-size: 1rem;
   padding-left: 0.5rem;
   text-align: left;
}
/* @media only screen and (max-width: 1200px) {
   .menu-icon{
      display: none;
   }
} */